# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# exclude main binaries
bin/
release/

# exclude temp binaries for local testing
cf-ddns-agent
cf-ddns-agent.exe

#logs
*.log

# coverage file
coverage.txt
